USE [FARMACIA_DB]
GO
/****** Object:  Table [dbo].[TB_CAT_ESTADO_EMPRESA]    Script Date: 27/01/2025 00:45:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CAT_ESTADO_EMPRESA](
	[ID_ESTADO_EMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_ESTADO] [varchar](50) NULL,
	[DESCRIPCION_ESTADO] [varchar](200) NULL,
	[USUARIO_CREACION] [int] NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [int] NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
	[OBSERVACIONES] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_EMPRESA]    Script Date: 27/01/2025 00:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_EMPRESA](
	[ID_EMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_EMPRESA] [varchar](100) NULL,
	[DIRECCION_EMPRESA] [varchar](100) NULL,
	[TELEFONO_EMPRESA] [varchar](100) NULL,
	[NOMBRE_ENCARGADO] [varchar](200) NULL,
	[NIT_EMPRESA] [varchar](20) NULL,
	[USUARIO_CREACION] [int] NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [int] NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
	[ID_ESTADO_EMPRESA] [int] NULL,
	[OBSERVACIONES] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_EMPRESA_BITACORA]    Script Date: 27/01/2025 00:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_EMPRESA_BITACORA](
	[ID_EMPRESA_BITACORA] [int] IDENTITY(1,1) NOT NULL,
	[ID_EMPRESA] [int] NULL,
	[ACCION] [varchar](50) NULL,
	[CAMPOS_ANETIORES] [varchar](2000) NULL,
	[CAMPOS_NUEVOS] [varchar](2000) NULL,
	[ID_USUARIO] [int] NULL,
	[FECHA_CREACION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EMPRESA_BITACORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TB_CAT_ESTADO_EMPRESA] ON 

INSERT [dbo].[TB_CAT_ESTADO_EMPRESA] ([ID_ESTADO_EMPRESA], [NOMBRE_ESTADO], [DESCRIPCION_ESTADO], [USUARIO_CREACION], [FECHA_CREACION], [USUARIO_MODIFICACION], [FECHA_MODIFICACION], [OBSERVACIONES]) VALUES (1, N'Desactivado', N'Estado desactivado', 1, CAST(N'2025-01-26T23:36:48.440' AS DateTime), 123, CAST(N'2025-01-27T00:32:58.017' AS DateTime), NULL)
INSERT [dbo].[TB_CAT_ESTADO_EMPRESA] ([ID_ESTADO_EMPRESA], [NOMBRE_ESTADO], [DESCRIPCION_ESTADO], [USUARIO_CREACION], [FECHA_CREACION], [USUARIO_MODIFICACION], [FECHA_MODIFICACION], [OBSERVACIONES]) VALUES (2, N'Desactivado', N'Estado desactivado', 1234, CAST(N'2025-01-26T00:00:00.000' AS DateTime), 123, CAST(N'2025-01-27T00:34:03.717' AS DateTime), N'SE VISUALIZA PROXIMOS ERRORES')
SET IDENTITY_INSERT [dbo].[TB_CAT_ESTADO_EMPRESA] OFF
GO
SET IDENTITY_INSERT [dbo].[TB_EMPRESA] ON 

INSERT [dbo].[TB_EMPRESA] ([ID_EMPRESA], [NOMBRE_EMPRESA], [DIRECCION_EMPRESA], [TELEFONO_EMPRESA], [NOMBRE_ENCARGADO], [NIT_EMPRESA], [USUARIO_CREACION], [FECHA_CREACION], [USUARIO_MODIFICACION], [FECHA_MODIFICACION], [ID_ESTADO_EMPRESA], [OBSERVACIONES]) VALUES (1, N'PATITOS', N'COATEPEQUEs', N'5583435', N'MARCOS JUARES', N'3534353', 1, CAST(N'2025-01-26T00:00:00.000' AS DateTime), 1, CAST(N'2025-01-26T23:57:49.130' AS DateTime), 1, N'Sin observaciones')
INSERT [dbo].[TB_EMPRESA] ([ID_EMPRESA], [NOMBRE_EMPRESA], [DIRECCION_EMPRESA], [TELEFONO_EMPRESA], [NOMBRE_ENCARGADO], [NIT_EMPRESA], [USUARIO_CREACION], [FECHA_CREACION], [USUARIO_MODIFICACION], [FECHA_MODIFICACION], [ID_ESTADO_EMPRESA], [OBSERVACIONES]) VALUES (2, N'PATITO2', N'COATEPEQUE', N'3438535', N'MARIA', N'1244323', 1, CAST(N'2025-01-26T00:00:00.000' AS DateTime), 0, CAST(N'2025-01-26T23:43:12.003' AS DateTime), 9343247, N'ACTIVO')
SET IDENTITY_INSERT [dbo].[TB_EMPRESA] OFF
GO
SET IDENTITY_INSERT [dbo].[TB_EMPRESA_BITACORA] ON 

INSERT [dbo].[TB_EMPRESA_BITACORA] ([ID_EMPRESA_BITACORA], [ID_EMPRESA], [ACCION], [CAMPOS_ANETIORES], [CAMPOS_NUEVOS], [ID_USUARIO], [FECHA_CREACION]) VALUES (1, 1234, N'Activo', N'Estado anterior', N'Estado activo de la empresa', 5678, CAST(N'2025-01-26T00:00:00.000' AS DateTime))
INSERT [dbo].[TB_EMPRESA_BITACORA] ([ID_EMPRESA_BITACORA], [ID_EMPRESA], [ACCION], [CAMPOS_ANETIORES], [CAMPOS_NUEVOS], [ID_USUARIO], [FECHA_CREACION]) VALUES (2, 1234, N'ELIMINADO', N'Estado PENDIENTE de la empresa', NULL, 123, CAST(N'2025-01-27T00:37:34.693' AS DateTime))
SET IDENTITY_INSERT [dbo].[TB_EMPRESA_BITACORA] OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_EMPRESA_BITACORA_RS]    Script Date: 27/01/2025 00:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EMPRESA_BITACORA_RS]
(
    @ID_EMPRESA INT,
    @ACCION VARCHAR(50),
    @CAMPOS_ANTERIORES VARCHAR(2000),
    @CAMPOS_NUEVOS VARCHAR(2000),
    @ID_USUARIO INT,
    @FECHA_CREACION DATETIME,
    @MENSAJE VARCHAR(200) OUTPUT
)
AS
BEGIN
    INSERT INTO TB_EMPRESA_BITACORA 
    (
        ID_EMPRESA,
        ACCION,
        CAMPOS_ANETIORES,
        CAMPOS_NUEVOS,
        ID_USUARIO,
        FECHA_CREACION
    )
    VALUES
    (
        @ID_EMPRESA,
        @ACCION,
        @CAMPOS_ANTERIORES,
        @CAMPOS_NUEVOS,
        @ID_USUARIO,
        @FECHA_CREACION
    )

    SET @MENSAJE = 'Registro insertado correctamente';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EMPRESA_BITACORA_UP]    Script Date: 27/01/2025 00:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EMPRESA_BITACORA_UP]
(
    @ID_EMPRESA INT,
    @ACCION VARCHAR(50),
    @CAMPOS_ANTERIORES VARCHAR(200),
    @CAMPOS_NUEVOS VARCHAR(200),
    @ID_USUARIO INT,
    @FECHA_CREACION DATETIME,
    @MENSAJE VARCHAR(200) OUTPUT
)
AS
BEGIN
  IF @CAMPOS_ANTERIORES IS NULL OR LEN(@CAMPOS_ANTERIORES) = 0
    BEGIN
        SET @MENSAJE = 'Error: Los campos anteriores no pueden estar vacíos.';
        RETURN;
    END

    INSERT INTO TB_EMPRESA_BITACORA 
    (
        ID_EMPRESA,
        ACCION,
        CAMPOS_ANETIORES,
        CAMPOS_NUEVOS,
        ID_USUARIO,
        FECHA_CREACION
    )
    VALUES
    (
        @ID_EMPRESA,
        @ACCION,
        @CAMPOS_ANTERIORES,
        @CAMPOS_NUEVOS,
        @ID_USUARIO,
        @FECHA_CREACION
    )

    SET @MENSAJE = 'Registro insertado correctamente';
END

GO
/****** Object:  StoredProcedure [dbo].[SP_EMPRESA_DR]    Script Date: 27/01/2025 00:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EMPRESA_DR]
    @ID_EMPRESA INT,
    @USUARIO_MODIFICACION INT
AS
BEGIN
    -- Actualizamos el estado de la empresa a desactivado (suponiendo que el valor 2 sea "desactivado")
    UPDATE TB_EMPRESA
    SET 
        ID_ESTADO_EMPRESA = 2,  -- Estado de desactivado
        USUARIO_MODIFICACION = @USUARIO_MODIFICACION,
        FECHA_MODIFICACION = GETDATE()
    WHERE ID_EMPRESA = @ID_EMPRESA;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_EMPRESA_IR]    Script Date: 27/01/2025 00:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--INSERTAR TABLA ESTADO EMPRESA
CREATE PROCEDURE [dbo].[SP_EMPRESA_IR]          
    @NOMBRE_EMPRESA        VARCHAR(50),
    @DIRECCION_EMPRESA     VARCHAR(50),
    @TELEFONO_EMPRESA      VARCHAR(50),
    @NOMBRE_ENCARGADO      VARCHAR(50),
    @NIT_EMPRESA           VARCHAR(20),
    @USUARIO_CREACION      INT,
    @FECHA_CREACION        DATETIME,
    @USUARIO_MODIFICACION  INT = NULL,   
    @FECHA_MODIFICACION    DATETIME = NULL, 
    @ID_ESTADO_EMPRESA     INT,
    @OBSERVACIONES         VARCHAR(100),
	@MENSAJE			   VARCHAR(200) OUTPUT
AS
BEGIN
    
    IF @FECHA_MODIFICACION IS NULL 
    BEGIN
        SET @FECHA_MODIFICACION = GETDATE()
    END
    
    IF @USUARIO_MODIFICACION IS NULL 
    BEGIN
        SET @USUARIO_MODIFICACION = 0
    END

    IF EXISTS (SELECT 1 FROM TB_EMPRESA WHERE NOMBRE_EMPRESA = @NOMBRE_EMPRESA)
    BEGIN
        SET @MENSAJE = 'YA EXISTE UNA EMPRESA CON ESE NOMBRE';
        RETURN
    END

    INSERT INTO TB_EMPRESA
    (
        NOMBRE_EMPRESA,
        DIRECCION_EMPRESA,
        TELEFONO_EMPRESA,
        NOMBRE_ENCARGADO,
        NIT_EMPRESA,
        USUARIO_CREACION,
        FECHA_CREACION,
        USUARIO_MODIFICACION,
        FECHA_MODIFICACION,
        ID_ESTADO_EMPRESA,
        OBSERVACIONES
    )
    VALUES
    (
        @NOMBRE_EMPRESA,
        @DIRECCION_EMPRESA,
        @TELEFONO_EMPRESA,
        @NOMBRE_ENCARGADO,
        @NIT_EMPRESA,
        @USUARIO_CREACION,
        @FECHA_CREACION,--ACTUAL
        @USUARIO_MODIFICACION,
        @FECHA_MODIFICACION,
        @ID_ESTADO_EMPRESA,
        @OBSERVACIONES
    )
	SET @MENSAJE = 'EMPRESA REGISTRADA';

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ESTADO_EMPRESA_IR]    Script Date: 27/01/2025 00:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ESTADO_EMPRESA_IR]
    @NOMBRE_ESTADO         VARCHAR(50),
    @DESCRIPCION_ESTADO    VARCHAR(200),
    @USUARIO_CREACION      INT,
    @FECHA_CREACION        DATETIME,
    @USUARIO_MODIFICACION  INT,
    @FECHA_MODIFICACION    DATETIME,
    @OBSERVACIONES         VARCHAR(200),
    @MENSAJE               VARCHAR(200) OUTPUT
AS
BEGIN
    
    IF EXISTS (SELECT 1 FROM TB_CAT_ESTADO_EMPRESA WHERE NOMBRE_ESTADO = @NOMBRE_ESTADO)
    BEGIN
        
        SET @MENSAJE = 'ESTADO EXISTENTE';
    END
    ELSE
    BEGIN
        
        INSERT INTO TB_CAT_ESTADO_EMPRESA
        (
            NOMBRE_ESTADO,
            DESCRIPCION_ESTADO,
            USUARIO_CREACION,
            FECHA_CREACION,
            USUARIO_MODIFICACION,
            FECHA_MODIFICACION,
            OBSERVACIONES
        )
        VALUES
        (
            @NOMBRE_ESTADO,
            @DESCRIPCION_ESTADO,
            @USUARIO_CREACION,
            @FECHA_CREACION,
            @USUARIO_MODIFICACION,
            @FECHA_MODIFICACION,
            @OBSERVACIONES
        );

        SET @MENSAJE = 'SE INGRESO CORRECTAMENTE';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_TB_CAT_ESTADO_EMPRESA_DL]    Script Date: 27/01/2025 00:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TB_CAT_ESTADO_EMPRESA_DL]
    @ID_ESTADO_EMPRESA INT,
    @USUARIO INT,
    @MENSAJE VARCHAR(100) OUTPUT
AS
BEGIN
    
    UPDATE TB_CAT_ESTADO_EMPRESA
    SET 
        NOMBRE_ESTADO = 'Desactivado', 
        DESCRIPCION_ESTADO = 'Estado desactivado',
        USUARIO_MODIFICACION = @USUARIO,
        FECHA_MODIFICACION = GETDATE()
    WHERE 
        ID_ESTADO_EMPRESA = @ID_ESTADO_EMPRESA;


    SET @MENSAJE = 'Estado Categoria empresa esactivado correctamente';
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_TB_CAT_ESTADO_EMPRESA_LR]    Script Date: 27/01/2025 00:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TB_CAT_ESTADO_EMPRESA_LR] 
AS
BEGIN
    SELECT 
        ID_ESTADO_EMPRESA,
        NOMBRE_ESTADO,
        DESCRIPCION_ESTADO,
        USUARIO_CREACION,
        FECHA_CREACION,
        USUARIO_MODIFICACION,
        FECHA_MODIFICACION,
        OBSERVACIONES
 
      FROM TB_CAT_ESTADO_EMPRESA
	  ORDER BY NOMBRE_ESTADO;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TB_CAT_ESTADO_EMPRESA_UP]    Script Date: 27/01/2025 00:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TB_CAT_ESTADO_EMPRESA_UP]
    @CODIGO INT, 
    @NOMBRE_ESTADO VARCHAR(50),
    @DESCRIPCION_ESTADO VARCHAR(200),
    @USUARIO INT,
    @OBSERVACIONES VARCHAR(200),
    @MENSAJE VARCHAR(100) OUTPUT
AS
BEGIN
    DECLARE @COMPARAR INT = 0;


    SET @COMPARAR = (SELECT MAX(ID_ESTADO_EMPRESA) 
                     FROM TB_CAT_ESTADO_EMPRESA 
                     WHERE UPPER(NOMBRE_ESTADO) = UPPER(@NOMBRE_ESTADO) 
                     AND ID_ESTADO_EMPRESA <> @CODIGO); 

    IF @COMPARAR IS NULL
    BEGIN
        UPDATE TB_CAT_ESTADO_EMPRESA 
        SET
            NOMBRE_ESTADO = @NOMBRE_ESTADO,
            DESCRIPCION_ESTADO = @DESCRIPCION_ESTADO,
            USUARIO_MODIFICACION = @USUARIO,
            FECHA_MODIFICACION = GETDATE(),
            OBSERVACIONES = @OBSERVACIONES
        WHERE ID_ESTADO_EMPRESA = @CODIGO;

        SET @MENSAJE = 'ACTUALIZADA';
    END
    ELSE
    BEGIN

        SET @MENSAJE = 'YA EXISTE UN ESTADO DE EMPRESA';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_TB_EMPRESA_BITACORA_DL]    Script Date: 27/01/2025 00:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TB_EMPRESA_BITACORA_DL]
    @ID_EMPRESA_BITACORA INT,
    @USUARIO INT,
    @MENSAJE VARCHAR(100) OUTPUT
AS
BEGIN
    
    UPDATE TB_EMPRESA_BITACORA
    SET 
        ACCION = 'ELIMINADO',         
        CAMPOS_ANETIORES = CAMPOS_NUEVOS, 
        CAMPOS_NUEVOS = NULL,         
        ID_USUARIO = @USUARIO,        
        FECHA_CREACION = GETDATE()
      
    WHERE 
        ID_EMPRESA_BITACORA = @ID_EMPRESA_BITACORA;


    SET @MENSAJE = 'REALIZADO BITACORA DELETE';
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_TB_EMPRESA_BITACORA_LR]    Script Date: 27/01/2025 00:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LISTAR TABLA EMPRESA BITACORA
CREATE PROC [dbo].[SP_TB_EMPRESA_BITACORA_LR] 
AS
BEGIN
    SELECT 
        ID_EMPRESA_BITACORA,
        ID_EMPRESA,
        ACCION,
        CAMPOS_ANETIORES,
        CAMPOS_NUEVOS,
        ID_USUARIO,
        FECHA_CREACION
   
    FROM TB_EMPRESA_BITACORA
    ORDER BY FECHA_CREACION DESC; 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TB_EMPRESA_DELETE_DL]    Script Date: 27/01/2025 00:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TB_EMPRESA_DELETE_DL]
    @ID_EMPRESA INT,
    @USUARIO INT,
    @MENSAJE VARCHAR(100) OUTPUT
AS
BEGIN
    
    UPDATE TB_EMPRESA
    SET 
        ID_ESTADO_EMPRESA = 0,  --
        USUARIO_MODIFICACION = @USUARIO,
        FECHA_MODIFICACION = GETDATE()
    WHERE 
        ID_EMPRESA = @ID_EMPRESA;

    SET @MENSAJE = 'Empresa desactivada correctamente';
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_TB_EMPRESA_LR]    Script Date: 27/01/2025 00:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TB_EMPRESA_LR] 
AS
BEGIN
    SELECT 
        ID_EMPRESA,
        NOMBRE_EMPRESA,
        DIRECCION_EMPRESA,
        TELEFONO_EMPRESA,
        NOMBRE_ENCARGADO,
        NIT_EMPRESA,
        USUARIO_CREACION,
        FECHA_CREACION,
        USUARIO_MODIFICACION,
        FECHA_MODIFICACION,
        ID_ESTADO_EMPRESA,
        OBSERVACIONES
   
    FROM TB_EMPRESA
    ORDER BY NOMBRE_EMPRESA; 

END
GO
/****** Object:  StoredProcedure [dbo].[SP_TB_EMPRESA_LRS]    Script Date: 27/01/2025 00:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TB_EMPRESA_LRS] 
AS
BEGIN
    SELECT 
        ID_EMPRESA,
        NOMBRE_EMPRESA,
        DIRECCION_EMPRESA,
        TELEFONO_EMPRESA,
        NOMBRE_ENCARGADO,
        NIT_EMPRESA,
        USUARIO_CREACION,
        FECHA_CREACION,
        USUARIO_MODIFICACION,
        FECHA_MODIFICACION,
        ID_ESTADO_EMPRESA,
        OBSERVACIONES
   
    FROM TB_EMPRESA
    ORDER BY NOMBRE_EMPRESA; 

END
GO
/****** Object:  StoredProcedure [dbo].[SP_TB_EMPRESA_UP]    Script Date: 27/01/2025 00:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TB_EMPRESA_UP]
    @CODIGO INT, 
    @NOMBRE_EMPRESA VARCHAR(100),
    @DIRECCION_EMPRESA VARCHAR(100),
    @TELEFONO_EMPRESA VARCHAR(100),
    @NOMBRE_ENCARGADO VARCHAR(200),
    @NIT_EMPRESA VARCHAR(20),
    @USUARIO INT,
    @ID_ESTADO_EMPRESA INT,
    @OBSERVACIONES VARCHAR(200),
    @MENSAJE VARCHAR(100) OUTPUT
AS
BEGIN
    DECLARE @COMPARAR INT = 0;

    SET @COMPARAR = (SELECT MAX(ID_EMPRESA) 
                     FROM TB_EMPRESA 
                     WHERE UPPER(NOMBRE_EMPRESA) = UPPER(@NOMBRE_EMPRESA) 
                     AND ID_ESTADO_EMPRESA = 1  
                     AND ID_EMPRESA <> @CODIGO); 

    IF @COMPARAR IS NULL
    BEGIN
      
        UPDATE TB_EMPRESA 
        SET
            NOMBRE_EMPRESA = @NOMBRE_EMPRESA,
            DIRECCION_EMPRESA = @DIRECCION_EMPRESA,
            TELEFONO_EMPRESA = @TELEFONO_EMPRESA,
            NOMBRE_ENCARGADO = @NOMBRE_ENCARGADO,
            NIT_EMPRESA = @NIT_EMPRESA,
            USUARIO_MODIFICACION = @USUARIO,
            FECHA_MODIFICACION = GETDATE(),
            ID_ESTADO_EMPRESA = @ID_ESTADO_EMPRESA,
            OBSERVACIONES = @OBSERVACIONES
        WHERE ID_EMPRESA = @CODIGO;

        SET @MENSAJE = 'ACTUALIZADA';
    END
    ELSE
    BEGIN

        SET @MENSAJE = 'YA EXISTE UNA EMPRESA CON ESE NOMBRE';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[TB_CAT_ESTADO_EMPRESA_I_SP]    Script Date: 27/01/2025 00:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SP CATEGORIA ESTADO EMPRESA
	CREATE PROCEDURE [dbo].[TB_CAT_ESTADO_EMPRESA_I_SP]
		@NOMBRE_ESTADO				VARCHAR(50),
		@DESCRIPCION_ESTADO			VARCHAR(200),
		@USUARIO_CREACION			INT,
		@MENSAJE					VARCHAR(100) OUTPUT
	AS
	BEGIN
	DECLARE @COMPARADOR INT = 0;
	SET @COMPARADOR = (SELECT MAX(ID_ESTADO_EMPRESA) FROM TB_CAT_ESTADO_EMPRESA WHERE UPPER(NOMBRE_ESTADO) = UPPER(@NOMBRE_ESTADO))
	IF @COMPARADOR IS NULL
		BEGIN
			INSERT INTO TB_CAT_ESTADO_EMPRESA
				(
					NOMBRE_ESTADO,
					DESCRIPCION_ESTADO,
					USUARIO_CREACION,
					FECHA_CREACION
				)
					VALUES
				(	
					@NOMBRE_ESTADO,
					@DESCRIPCION_ESTADO,
					@USUARIO_CREACION,
					GETDATE()
				)
				SET @MENSAJE = 'OK';
		END
	ELSE
		BEGIN

			SET @MENSAJE = 'ERROR - Ya existe un registro con ese nombre';
		END
	END
GO
