USE [master]
GO
/****** Object:  Database [EscuelaDB]    Script Date: 01/15/2025 22:00:42 ******/
CREATE DATABASE [EscuelaDB] ON  PRIMARY 
( NAME = N'EscuelaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\EscuelaDB.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EscuelaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\EscuelaDB_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EscuelaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EscuelaDB]
GO
/****** Object:  Table [dbo].[TB_TEMPORAL_TELEFONO]    Script Date: 01/15/2025 22:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TEMPORAL_TELEFONO](
	[TELEFONO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TEMPORAL_NOMBRE]    Script Date: 01/15/2025 22:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_TEMPORAL_NOMBRE](
	[NOMBRE] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TB_TEMPORAL_NOMBRE] ([NOMBRE]) VALUES (N'HECTOR')
INSERT [dbo].[TB_TEMPORAL_NOMBRE] ([NOMBRE]) VALUES (N'ANA')
INSERT [dbo].[TB_TEMPORAL_NOMBRE] ([NOMBRE]) VALUES (N'CARLOS')
/****** Object:  Table [dbo].[TB_TEMPORAL_MUNICIPIO]    Script Date: 01/15/2025 22:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_TEMPORAL_MUNICIPIO](
	[MUNICIPIO] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_TEMPORAL_DEPARMANETO]    Script Date: 01/15/2025 22:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_TEMPORAL_DEPARMANETO](
	[DEPARTAMENTO] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_TEMPORAL_COLONIA]    Script Date: 01/15/2025 22:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_TEMPORAL_COLONIA](
	[COLONIA] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_TEMPORAL_CALLE]    Script Date: 01/15/2025 22:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_TEMPORAL_CALLE](
	[CALLE] [varchar](1) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_TEMPORAL_AVENIDA]    Script Date: 01/15/2025 22:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_TEMPORAL_AVENIDA](
	[AVENIDAD] [varchar](1) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_TEMPORAL_APELLIDO]    Script Date: 01/15/2025 22:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_TEMPORAL_APELLIDO](
	[APELLIDOS] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TB_TEMPORAL_APELLIDO] ([APELLIDOS]) VALUES (N'CRUZ')
INSERT [dbo].[TB_TEMPORAL_APELLIDO] ([APELLIDOS]) VALUES (N'GARCIA')
INSERT [dbo].[TB_TEMPORAL_APELLIDO] ([APELLIDOS]) VALUES (N'LOPEZ')
/****** Object:  Table [dbo].[TB_ESTUDIANTES]    Script Date: 01/15/2025 22:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_ESTUDIANTES](
	[ID_ESTUDIANTES] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_ESTUDIANTES] [varchar](100) NULL,
	[APELLIDOS_ESTUDIANTES] [varchar](100) NULL,
	[DIRECCION_ESTUDIANTES] [varchar](100) NULL,
	[TELEFONO_ESTUDIANTES] [varchar](100) NULL,
	[EDAD_ESTUDIANTES] [int] NULL,
	[ID_GRADO] [int] NULL,
 CONSTRAINT [PK__TB_ESTUD__DD33121307020F21] PRIMARY KEY CLUSTERED 
(
	[ID_ESTUDIANTES] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TB_ESTUDIANTES] ON
INSERT [dbo].[TB_ESTUDIANTES] ([ID_ESTUDIANTES], [NOMBRE_ESTUDIANTES], [APELLIDOS_ESTUDIANTES], [DIRECCION_ESTUDIANTES], [TELEFONO_ESTUDIANTES], [EDAD_ESTUDIANTES], [ID_GRADO]) VALUES (1, N'Hector Agusto', N'Cruz Romero', N'4ta. Calle, Coatepeque, Quetzaltenango', N'5565-5656', NULL, NULL)
INSERT [dbo].[TB_ESTUDIANTES] ([ID_ESTUDIANTES], [NOMBRE_ESTUDIANTES], [APELLIDOS_ESTUDIANTES], [DIRECCION_ESTUDIANTES], [TELEFONO_ESTUDIANTES], [EDAD_ESTUDIANTES], [ID_GRADO]) VALUES (2, N'Ana María', N'González López', N'Zona 1, Quetzaltenango', N'4578-1245', NULL, NULL)
INSERT [dbo].[TB_ESTUDIANTES] ([ID_ESTUDIANTES], [NOMBRE_ESTUDIANTES], [APELLIDOS_ESTUDIANTES], [DIRECCION_ESTUDIANTES], [TELEFONO_ESTUDIANTES], [EDAD_ESTUDIANTES], [ID_GRADO]) VALUES (3, N'Carlos Alberto', N'Rodríguez Pérez', N'Colonia Santa Fe, Guatemala', N'3215-8741', NULL, NULL)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[TB_ESTUDIANTES] OFF
/****** Object:  StoredProcedure [dbo].[CREACION_DATA_ESTUDIANTES_SP]    Script Date: 01/15/2025 22:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CREACION_DATA_ESTUDIANTES_SP]
@CANTIDAD_NOMBRES INT -- PARAMETRO DE ENTRADA
AS
BEGIN

	--VARIABLE
	DECLARE @PRIMER_NOMBRE VARCHAR(15);
	DECLARE @SEGUNDO_NOMBRE VARCHAR(15);
	DECLARE @PRIMER_APELLIDO VARCHAR(15);
	DECLARE @SEGUNDO_APELLIDO VARCHAR(15);
	DECLARE @VALORINICIAL INT;
	
	SET @VALORINICIAL = 1
	--ARMAR UN NOMBRE DE 4 CAMPOS N1.N2.A1.A2
	--SELECT NOMBRE FROM TB_TEMPORAL_NOMBRE
	--SELECT APELLIDOS FROM TB_TEMPORAL_APELLIDO
	-- COMO OBTENER UN NOMBRE ALEATORIA 
	WHILE (@VALORINICIAL < = @CANTIDAD_NOMBRES)
	BEGIN
		SET @PRIMER_NOMBRE = (select top 1 percent NOMBRE from TB_TEMPORAL_NOMBRE order by newid())
		SET @SEGUNDO_NOMBRE = (select top 1 percent NOMBRE from TB_TEMPORAL_NOMBRE order by newid())
		SET @PRIMER_APELLIDO = (select top 1 percent APELLIDOS from TB_TEMPORAL_APELLIDO order by newid())
		SET @SEGUNDO_APELLIDO = (select top 1 percent APELLIDOS from TB_TEMPORAL_APELLIDO order by newid())

		INSERT INTO TB_ESTUDIANTES 
			(
				NOMBRE_ESTUDIANTES,
				APELLIDOS_ESTUDIANTES
			)
			VALUES 
			(
				@PRIMER_NOMBRE+' '+@SEGUNDO_NOMBRE,
				@PRIMER_APELLIDO+' '+ @SEGUNDO_APELLIDO
			)
		SET @VALORINICIAL = @VALORINICIAL+1
	END
END;
GO
