USE [master]
GO
/****** Object:  Database [EscuelaDB]    Script Date: 19/01/2025 15:58:54 ******/
CREATE DATABASE [EscuelaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EscuelaDB', FILENAME = N'C:\SQL SERVER\MSSQL16.MSSQLSERVER\MSSQL\DATA\EscuelaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EscuelaDB_log', FILENAME = N'C:\SQL SERVER\MSSQL16.MSSQLSERVER\MSSQL\DATA\EscuelaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EscuelaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EscuelaDB]
GO
/****** Object:  Table [dbo].[TB_CURSOS]    Script Date: 19/01/2025 15:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CURSOS](
	[ID_CURSO] [int] NOT NULL,
	[NOMBRE_CURSO] [nvarchar](50) NULL,
	[DESCRIPCION_CURSO] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_ESTUDIANTES]    Script Date: 19/01/2025 15:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_ESTUDIANTES](
	[ID_ESTUDIANTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_ESTUDIANTE] [varchar](50) NULL,
	[APELLIDO_ESTUDIANTE] [varchar](50) NULL,
	[DIRECCION_ESTUDIANTE] [varchar](100) NULL,
	[TELEFONO_ESTUDIANTE] [varchar](100) NULL,
	[EDAD_ESTUDIANTE] [int] NULL,
	[ID_GRADO] [int] NULL,
	[ID_PADRE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTUDIANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_ESTUDIANTES_CURSOS]    Script Date: 19/01/2025 15:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_ESTUDIANTES_CURSOS](
	[ID_ESTUDIANTES] [int] NOT NULL,
	[ID_CURSOS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTUDIANTES] ASC,
	[ID_CURSOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_GRADOS]    Script Date: 19/01/2025 15:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_GRADOS](
	[ID_GRADO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_GRADO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GRADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PADRES]    Script Date: 19/01/2025 15:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PADRES](
	[ID_PADRE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_PADRE] [varchar](50) NULL,
	[DIRECCION_PADRE] [varchar](100) NULL,
	[TELEFONO_PADRE] [varchar](100) NULL,
	[EMAIL_PADRE] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PADRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TEMPORAL_APELLIDO]    Script Date: 19/01/2025 15:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TEMPORAL_APELLIDO](
	[APELLIDO] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TEMPORAL_AVENIDA]    Script Date: 19/01/2025 15:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TEMPORAL_AVENIDA](
	[AVENIDA] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TEMPORAL_CALLE]    Script Date: 19/01/2025 15:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TEMPORAL_CALLE](
	[CALLE] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TEMPORAL_COLONIA]    Script Date: 19/01/2025 15:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TEMPORAL_COLONIA](
	[COLONIA] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TEMPORAL_DEPARTAMENTO]    Script Date: 19/01/2025 15:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TEMPORAL_DEPARTAMENTO](
	[DEPARTAMENTO] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TEMPORAL_MUNICIPIO]    Script Date: 19/01/2025 15:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TEMPORAL_MUNICIPIO](
	[MUNICIPIO] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TEMPORAL_NOMBRE]    Script Date: 19/01/2025 15:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TEMPORAL_NOMBRE](
	[NOMBRE] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TEMPORAL_TELEFONO]    Script Date: 19/01/2025 15:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TEMPORAL_TELEFONO](
	[TELEFONO] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TB_ESTUDIANTES] ON 

INSERT [dbo].[TB_ESTUDIANTES] ([ID_ESTUDIANTE], [NOMBRE_ESTUDIANTE], [APELLIDO_ESTUDIANTE], [DIRECCION_ESTUDIANTE], [TELEFONO_ESTUDIANTE], [EDAD_ESTUDIANTE], [ID_GRADO], [ID_PADRE]) VALUES (1, N'Hector Agusto', N'Cruz Romero', N'4ta. Calle, Coatepeque, Quetzaltenango', N'5565-5656', 11, NULL, NULL)
INSERT [dbo].[TB_ESTUDIANTES] ([ID_ESTUDIANTE], [NOMBRE_ESTUDIANTE], [APELLIDO_ESTUDIANTE], [DIRECCION_ESTUDIANTE], [TELEFONO_ESTUDIANTE], [EDAD_ESTUDIANTE], [ID_GRADO], [ID_PADRE]) VALUES (2, N'Ana Maria', N'Lopez Gutierrez', N'Av. Reforma 23, Ciudad de Guatemala', N'5521-1234', 13, NULL, NULL)
INSERT [dbo].[TB_ESTUDIANTES] ([ID_ESTUDIANTE], [NOMBRE_ESTUDIANTE], [APELLIDO_ESTUDIANTE], [DIRECCION_ESTUDIANTE], [TELEFONO_ESTUDIANTE], [EDAD_ESTUDIANTE], [ID_GRADO], [ID_PADRE]) VALUES (3, N'Carlos Daniel', N'Perez Morales', N'Barrio San Pedro, Chimaltenango', N'5567-7890', 12, 6, NULL)
GO
SET IDENTITY_INSERT [dbo].[TB_ESTUDIANTES] OFF
GO
SET IDENTITY_INSERT [dbo].[TB_GRADOS] ON 

INSERT [dbo].[TB_GRADOS] ([ID_GRADO], [NOMBRE_GRADO]) VALUES (1, N'PRIMERO 1')
INSERT [dbo].[TB_GRADOS] ([ID_GRADO], [NOMBRE_GRADO]) VALUES (2, N'SEGUNDO 2')
INSERT [dbo].[TB_GRADOS] ([ID_GRADO], [NOMBRE_GRADO]) VALUES (3, N'TERCERO 3')
SET IDENTITY_INSERT [dbo].[TB_GRADOS] OFF
GO
INSERT [dbo].[TB_TEMPORAL_APELLIDO] ([APELLIDO]) VALUES (N'MALDONADO')
INSERT [dbo].[TB_TEMPORAL_APELLIDO] ([APELLIDO]) VALUES (N'MARTINEZ')
INSERT [dbo].[TB_TEMPORAL_APELLIDO] ([APELLIDO]) VALUES (N'GARCIA')
GO
INSERT [dbo].[TB_TEMPORAL_NOMBRE] ([NOMBRE]) VALUES (N'HECTOR')
INSERT [dbo].[TB_TEMPORAL_NOMBRE] ([NOMBRE]) VALUES (N'ANA')
INSERT [dbo].[TB_TEMPORAL_NOMBRE] ([NOMBRE]) VALUES (N'CARLOS')
GO
ALTER TABLE [dbo].[TB_ESTUDIANTES]  WITH CHECK ADD FOREIGN KEY([ID_GRADO])
REFERENCES [dbo].[TB_GRADOS] ([ID_GRADO])
GO
ALTER TABLE [dbo].[TB_ESTUDIANTES]  WITH CHECK ADD FOREIGN KEY([ID_PADRE])
REFERENCES [dbo].[TB_PADRES] ([ID_PADRE])
GO
ALTER TABLE [dbo].[TB_ESTUDIANTES_CURSOS]  WITH CHECK ADD FOREIGN KEY([ID_CURSOS])
REFERENCES [dbo].[TB_CURSOS] ([ID_CURSO])
GO
ALTER TABLE [dbo].[TB_ESTUDIANTES_CURSOS]  WITH CHECK ADD FOREIGN KEY([ID_ESTUDIANTES])
REFERENCES [dbo].[TB_ESTUDIANTES] ([ID_ESTUDIANTE])
GO
/****** Object:  StoredProcedure [dbo].[CREACION_DATA_ESTUDIANTES_SP]    Script Date: 19/01/2025 15:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CREACION_DATA_ESTUDIANTES_SP]
		@CANTIDAD_NOMBRES INT -- PARAMETRO DE ENTRADA
		AS
		BEGIN
			--VARIABLE
			DECLARE @PRIMER_NOMBRE VARCHAR(15);
			DECLARE @SEGUNDO_NOMBRE VARCHAR(15);
			DECLARE @PRIMER_APELLIDO VARCHAR(15);
			DECLARE @SEGUNDO_APELLIDO VARCHAR(15);
			DECLARE @VALORINICIAL INT;
			
			SET @VALORINICIAL = 1

			WHILE (@VALORINICIAL < = @CANTIDAD_NOMBRES)
			BEGIN
				SET @PRIMER_NOMBRE = (select top 1 percent NOMBRE from TB_TEMPORAL_NOMBRE order by newid())
				SET @SEGUNDO_NOMBRE = (select top 1 percent NOMBRE from TB_TEMPORAL_NOMBRE order by newid())
				SET @PRIMER_APELLIDO = (select top 1 percent APELLIDO from TB_TEMPORAL_APELLIDO order by newid())
				SET @SEGUNDO_APELLIDO = (select top 1 percent APELLIDO from TB_TEMPORAL_APELLIDO order by newid())

				INSERT INTO TB_ESTUDIANTES 
					(
						NOMBRE_ESTUDIANTE,
						APELLIDO_ESTUDIANTE
					)
					VALUES 
					(
						@PRIMER_NOMBRE+' '+@SEGUNDO_NOMBRE,
						@PRIMER_APELLIDO+' '+ @SEGUNDO_APELLIDO
					)
				SET @VALORINICIAL = @VALORINICIAL+1
			END
		END;
GO
/****** Object:  StoredProcedure [dbo].[GenerarEstudiantes]    Script Date: 19/01/2025 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GenerarEstudiantes]
    @NumeroEstudiantes INT -- Parámetro para determinar la cantidad de estudiantes a generar
AS
BEGIN
    DECLARE @i INT = 0
    DECLARE @Nombre NVARCHAR(100)
    DECLARE @Apellido NVARCHAR(100)
    DECLARE @Edad INT
    DECLARE @ID_GRADO INT
    DECLARE @Direccion NVARCHAR(255)
    DECLARE @Telefono NVARCHAR(20)

    -- Bucle para generar 'x' estudiantes
    WHILE @i < @NumeroEstudiantes
    BEGIN
        -- Generar nombre aleatorio (aquí usaremos datos ficticios como ejemplo)
        SET @Nombre = 'Nombre_' + CAST(ROUND(RAND() * 1000, 0) AS NVARCHAR)
        SET @Apellido = 'Apellido_' + CAST(ROUND(RAND() * 1000, 0) AS NVARCHAR)

        -- Generar edad aleatoria entre 7 y 13
        SET @Edad = ROUND(RAND() * (13 - 7) + 7, 0)

        -- Asignar el ID del grado dependiendo de la edad
        IF @Edad BETWEEN 7 AND 8
            SET @ID_GRADO = 1
        ELSE IF @Edad BETWEEN 8 AND 9
            SET @ID_GRADO = 2
        ELSE IF @Edad BETWEEN 9 AND 10
            SET @ID_GRADO = 3
        ELSE IF @Edad BETWEEN 10 AND 11
            SET @ID_GRADO = 4
        ELSE IF @Edad BETWEEN 11 AND 12
            SET @ID_GRADO = 5
        ELSE
            SET @ID_GRADO = 6

        -- Generar dirección aleatoria (aquí usaremos una dirección genérica)
        SET @Direccion = 'Calle ' + CAST(ROUND(RAND() * 1000, 0) AS NVARCHAR) + ' # ' + CAST(ROUND(RAND() * 1000, 0) AS NVARCHAR)

        -- Generar teléfono aleatorio (como ejemplo, generaremos un número de teléfono ficticio)
        SET @Telefono = '+34 ' + CAST(ROUND(RAND() * 1000000000, 0) AS NVARCHAR)

        -- Insertar el estudiante en la tabla
        INSERT INTO TB_ESTUDIANTES (NOMBRE_ESTUDIANTE, APELLIDO_ESTUDIANTE, EDAD_ESTUDIANTE, ID_GRADO, DIRECCION_ESTUDIANTE, TELEFONO_ESTUDIANTE)
        VALUES (@Nombre, @Apellido, @Edad, @ID_GRADO, @Direccion, @Telefono)

        -- Incrementar el contador
        SET @i = @i + 1
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarEdadesEstudiantes]    Script Date: 19/01/2025 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarEdadesEstudiantes]
AS
BEGIN
    -- Actualizar las edades de los estudiantes con un valor aleatorio entre 7 y 13
    UPDATE TB_ESTUDIANTES
    SET EDAD_ESTUDIANTE = (7 + (ABS(CHECKSUM(NEWID())) % 7));
END;
GO
USE [master]
GO
